[apt]
packages = ["podman"]

[brew]
taps = ["terraform-linters/tap", "hashicorp/tap"]
formulae = [
  "ansible", "awscli", "azure-cli", "cloudflare-wrangler", "cloudflared", "fzf",
  "gh", "go", "gum", "hadolint", "hashicorp/tap/terraform", "helm", "helmfile",
  "htop", "jq", "k9s", "kubectl", "kubectx", "kustomize", "lazygit", "lazysql",
  "mosh", "nano", "node", "pre-commit", "sops", "sqlite", "uv", "watch", "yq",
  "zellij", "zstd",
]
casks = ["claude-code@latest", "gcloud-cli", "tflint"]

[post_install]
commands = []

[resources]
memory = "4G"
cpus = 4

[k3s]
disk = "8G"
node_ip = "10.99.0.1"
